[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-django = "*"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
django-environ = "*"
django-storages = "*"
boto3 = "*"
pillow = "*"
bs4 = "*"
requests = "*"

[requires]
python_version = "3.7"
